<?php
/**
 * This file is part of Magestore POS Open Source.
 *
 * Magestore POS Open Source is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Magestore POS Open Source is distributed in the hope that it will
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with Magestore POS Open Source. If not, see <https://www.gnu.org/licenses/>
 */

use Magento\Sales\Block\Adminhtml\Items\Column\DefaultColumn;
use Magento\Weee\Block\Adminhtml\Items\Price\Renderer;
use Magento\Weee\Helper\Data;

// @codingStandardsIgnoreFile

?>
<?php
/** @var DefaultColumn $block */

$_item = $block->getItem();
?>
<?php
/** @var Renderer $block */

/** @var $_weeeHelper Data */
$_weeeHelper = $this->helper('Magento\Weee\Helper\Data');

$_item = $block->getItem();
?>

<?php if ($block->displayBothPrices() || $block->displayPriceExclTax()): ?>
    <div class="price-excl-tax">
        <?php if ($block->displayBothPrices()): ?>
            <span class="label"><?= /* @escapeNotVerified */ __('Excl. Tax') ?>:</span>
        <?php endif; ?>

        <?= $block->getUnitPriceExclTaxHtml() ?>

        <?php if ($this->helper('Magento\Weee\Helper\Data')->getApplied($_item)): ?>
            <br />
            <?php if ($block->displayPriceWithWeeeDetails()): ?>
                <small>
                    <?php foreach ($this->helper('Magento\Weee\Helper\Data')->getApplied($_item) as $tax): ?>
                        <span class="nobr"><?= /* @escapeNotVerified */ $tax['title'] ?>: <?= /* @escapeNotVerified */ $block->displayPrices($tax['base_amount'], $tax['amount']) ?></span>
                    <?php endforeach; ?>
                </small>
            <?php endif; ?>

            <?php if ($block->displayFinalPrice()): ?>
                <br />
                <span class="nobr"><?= /* @escapeNotVerified */ __('Total') ?>:<br />
                    <?= $block->getFinalUnitPriceExclTaxHtml() ?>
                </span>
            <?php endif; ?>
        <?php endif; ?>
    </div>
<?php endif; ?>
<?php if ($block->displayBothPrices() || $block->displayPriceInclTax()): ?>
    <div class="price-incl-tax">
        <?php if ($block->displayBothPrices()): ?>
            <span class="label"><?= /* @escapeNotVerified */ __('Incl. Tax') ?>:</span>
        <?php endif; ?>
        <?= $block->getUnitPriceInclTaxHtml() ?>

        <?php if ($this->helper('Magento\Weee\Helper\Data')->getApplied($_item)): ?>
            <br />
            <?php if ($block->displayPriceWithWeeeDetails()): ?>
                <small>
                    <?php foreach ($this->helper('Magento\Weee\Helper\Data')->getApplied($_item) as $tax): ?>
                        <span class="nobr"><?= /* @escapeNotVerified */ $tax['title'] ?>: <?= /* @escapeNotVerified */ $block->displayPrices($tax['base_amount_incl_tax'], $tax['amount_incl_tax']) ?></span>
                    <?php endforeach; ?>
                </small>
            <?php endif; ?>

            <?php if ($block->displayFinalPrice()): ?>
                <br />
                <span class="nobr"><?= /* @escapeNotVerified */ __('Total') ?>:<br />
                    <?= $block->getFinalUnitPriceInclTaxHtml() ?>
                </span>
            <?php endif; ?>
        <?php endif; ?>
    </div>
<?php endif; ?>
<?php if ($_item->getData(Magestore\Webpos\Api\Data\Checkout\Order\ItemInterface::OS_POS_CUSTOM_PRICE_REASON)) : ?>
    <div class="price-excl-tax">
        <div class="custom-price-reason-block">
            <span><?= /* @escapeNotVerified */ $_item->getData(Magestore\Webpos\Api\Data\Checkout\Order\ItemInterface::OS_POS_CUSTOM_PRICE_REASON) ?></span>
        </div>
    </div>
<?php endif; ?>
