<?php
/**
 * This file is part of Magestore POS Open Source.
 *
 * Magestore POS Open Source is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Magestore POS Open Source is distributed in the hope that it will
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with Magestore POS Open Source. If not, see <https://www.gnu.org/licenses/>
 */

/**
 * @var Info $block
 */

// @codingStandardsIgnoreFile

use Magento\Sales\Block\Adminhtml\Order\View\Info;

$order = $block->getOrder();
if ($order->getPosId()) {
    $posInfo = $this->helper('Magestore\Webpos\Helper\Order')->getPosByOrder($order);
} else {
    $posInfo = [
        'pos_name' => '',
        'location_name' => ''
    ];
}

$orderAdminDate = $block->formatDate(
    $block->getOrderAdminDate($order->getCreatedAt()),
    IntlDateFormatter::MEDIUM,
    true
);

$orderStoreDate = $block->formatDate(
    $order->getCreatedAt(),
    IntlDateFormatter::MEDIUM,
    true,
    $block->getTimezoneForStore($order->getStore())
);
?>

<section class="admin__page-section order-view-account-information">
    <div class="admin__page-section-title">
        <span class="title"><?= $block->escapeHtml(__('Order & Customer Information')) ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-information">
            <?php /* Order Information */ ?>
            <?php $confirmationEmailStatusMessage = $order->getEmailSent() ? __('The order confirmation email was sent') : __('The order confirmation email is not sent'); ?>
            <div class="admin__page-section-item-title">
                <span class="title">
                    <?php if ($block->getNoUseOrderLink()): ?>
                        <?= $block->escapeHtml(__('Order # %1', $order->getRealOrderId())) ?> (
                        <span><?= $block->escapeHtml($confirmationEmailStatusMessage) ?></span>)
                    <?php else: ?>
                        <a href="<?= $block->escapeHtml($block->getViewUrl($order->getId())) ?>"><?= $block->escapeHtml(__('Order # %1', $order->getRealOrderId())) ?></a>
                        <span>(<?= $block->escapeHtml($confirmationEmailStatusMessage) ?>)</span>
                    <?php endif; ?>
                </span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-information-table">
                    <tr>
                        <th><?= $block->escapeHtml(__('Order Date')) ?></th>
                        <td><?= $block->escapeHtml($orderAdminDate) ?></td>
                    </tr>
                    <?php if ($orderAdminDate != $orderStoreDate): ?>
                        <tr>
                            <th><?= $block->escapeHtml(__('Order Date (%1)', $block->getTimezoneForStore($order->getStore()))) ?></th>
                            <td><?= $block->escapeHtml($orderStoreDate) ?></td>
                        </tr>
                    <?php endif; ?>
                    <tr>
                        <th><?= $block->escapeHtml(__('Order Status')) ?></th>
                        <td><span id="order_status"><?= $block->escapeHtml($order->getStatusLabel()) ?></span></td>
                    </tr>
                    <tr>
                        <th><?= $block->escapeHtml(__('Payment Status')) ?></th>
                        <td><span id="payment_status"><?= $block->escapeHtml($this->helper('Magestore\Webpos\Helper\Order')->getPaymentStatus($order)) ?></span></td>
                    </tr>
                    <?= $block->getChildHtml() ?>
                    <?php
                    // Show Location in case No IM
                    if (!empty($posInfo['location_name'])): ?>
                        <tr>
                            <th><?= $block->escapeHtml(__('Location')) ?></th>
                            <td><?= $block->escapeHtml($posInfo['location_name']) ?></td>
                        </tr>
                    <?php endif; ?>
                    <?php if ($posInfo['pos_name']) : ?>
                        <tr>
                            <th><?= $block->escapeHtml(__('POS')) ?></th>
                            <td><?= $block->escapeHtml($posInfo['pos_name']) ?></td>
                        </tr>
                    <?php endif; ?>
                    <?php if ($order->getPosDeliveryDate()) : ?>
                        <tr>
                            <th><?= $block->escapeHtml(__('Delivery Date')) ?></th>
                            <td><?= $block->escapeHtml($block->formatDate(
                                    $block->getOrderAdminDate($order->getPosDeliveryDate()),
                                    IntlDateFormatter::MEDIUM,
                                    true
                                )) ?></td>
                        </tr>
                    <?php endif; ?>
                    <?php if ($order->getRelationChildId()): ?>
                        <tr>
                            <th><?= $block->escapeHtml(__('Link to the New Order')) ?></th>
                            <td>
                                <a href="<?= $block->escapeHtml($block->getViewUrl($order->getRelationChildId())) ?>">
                                    <?= $block->escapeHtml($order->getRelationChildRealId()) ?>
                                </a>
                            </td>
                        </tr>
                    <?php endif; ?>
                    <?php if ($order->getRelationParentId()): ?>
                        <tr>
                            <th><?= $block->escapeHtml(__('Link to the Previous Order')) ?></th>
                            <td>
                                <a href="<?= $block->escapeHtml($block->getViewUrl($order->getRelationParentId())) ?>">
                                    <?= $block->escapeHtml($order->getRelationParentRealId()) ?>
                                </a>
                            </td>
                        </tr>
                    <?php endif; ?>
                    <?php if ($order->getRemoteIp() && $block->shouldDisplayCustomerIp()): ?>
                        <tr>
                            <th><?= $block->escapeHtml(__('Placed from IP')) ?></th>
                            <td><?= $block->escapeHtml($order->getRemoteIp());
                                echo $order->getXForwardedFor() ? ' (' . $block->escapeHtml($order->getXForwardedFor()) . ')' : ''; ?></td>
                        </tr>
                    <?php endif; ?>
                    <?php if ($order->getGlobalCurrencyCode() != $order->getBaseCurrencyCode()): ?>
                        <tr>
                            <th><?= $block->escapeHtml(__('%1 / %2 rate:', $order->getGlobalCurrencyCode(), $order->getBaseCurrencyCode())) ?></th>
                            <td><?= $block->escapeHtml($order->getBaseToGlobalRate()) ?></td>
                        </tr>
                    <?php endif; ?>
                    <?php if ($order->getBaseCurrencyCode() != $order->getOrderCurrencyCode()): ?>
                        <tr>
                            <th><?= $block->escapeHtml(__('%1 / %2 rate:', $order->getOrderCurrencyCode(), $order->getBaseCurrencyCode())) ?></th>
                            <th><?= $block->escapeHtml($order->getBaseToOrderRate()) ?></th>
                        </tr>
                    <?php endif; ?>
                </table>
            </div>
        </div>

        <div class="admin__page-section-item order-account-information">
            <?php /* Account Information */ ?>
            <div class="admin__page-section-item-title">
                <span class="title"><?= $block->escapeHtml(__('Account Information')) ?></span>
                <div class="actions">
                    <?php if ($customerUrl = $block->getCustomerViewUrl()) : ?>
                        <a href="<?= /* @noEscape */
                        $block->getCustomerViewUrl() ?>" target="_blank">
                            <?= $block->escapeHtml(__('Edit Customer')) ?>
                        </a>
                    <?php endif; ?>
                </div>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-account-information-table">
                    <tr>
                        <th><?= $block->escapeHtml(__('Customer Name')) ?></th>
                        <td>
                            <?php if ($customerUrl = $block->getCustomerViewUrl()): ?>
                                <a href="<?= $block->escapeUrl($customerUrl) ?>" target="_blank">
                                    <span><?= $block->escapeHtml($order->getCustomerName()) ?></span>
                                </a>
                            <?php else: ?>
                                <?= $block->escapeHtml($order->getCustomerName()) ?>
                            <?php endif; ?>
                        </td>
                    </tr>
                    <tr>
                        <th><?= $block->escapeHtml(__('Email')) ?></th>
                        <td>
                            <a href="mailto:<?php echo $block->escapeHtml($order->getCustomerEmail()) ?>"><?php echo $block->escapeHtml($order->getCustomerEmail()) ?></a>
                        </td>
                    </tr>
                    <tr>
                        <th><?= $block->escapeHtml(__('Phone')) ?></th>
                        <?php if (!$order->getCustomerIsGuest()) :?>
                        <td><?php echo $block->escapeHtml($order->getBillingAddress()->getTelephone()) ?></td>
                        <?php else :?>
                        <td><?php echo __('N/A');?></td>
                        <?php endif;?>
                    </tr>
                    <?php if ($groupName = $block->getCustomerGroupName()) : ?>
                        <tr>
                            <th><?= $block->escapeHtml(__('Customer Group')) ?></th>
                            <td><?= $block->escapeHtml($groupName) ?></td>
                        </tr>
                    <?php endif; ?>
                    <?php foreach ($block->getCustomerAccountData() as $data): ?>
                        <tr>
                            <th><?= $block->escapeHtml($data['label']) ?></th>
                            <td><?= $block->escapeHtml($data['value'], ['br']) ?></td>
                        </tr>
                    <?php endforeach; ?>
                    <?= $block->getChildHtml('extra_customer_info') ?>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="admin__page-section order-addresses">
    <div class="admin__page-section-title">
        <span class="title"><?= $block->escapeHtml(__('Address Information')) ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-billing-address">
            <?php /* Billing Address */ ?>
            <div class="admin__page-section-item-title">
                <span class="title"><?= $block->escapeHtml(__('Billing Address')) ?></span>
                <div class="actions"><?= /* @noEscape */
                    $block->getAddressEditLink($order->getBillingAddress()); ?></div>
            </div>
            <address class="admin__page-section-item-content"><?= /* @noEscape */
                $block->getFormattedAddress($order->getBillingAddress()); ?></address>
        </div>
        <?php if (!$block->getOrder()->getIsVirtual()): ?>
            <div class="admin__page-section-item order-shipping-address">
                <?php /* Shipping Address */ ?>
                <div class="admin__page-section-item-title">
                    <span class="title"><?= $block->escapeHtml(__('Shipping Address')) ?></span>
                    <div class="actions"><?= /* @noEscape */
                        $block->getAddressEditLink($order->getShippingAddress()); ?></div>
                </div>
                <address class="admin__page-section-item-content"><?= /* @noEscape */
                    $block->getFormattedAddress($order->getShippingAddress()); ?></address>
            </div>
        <?php endif; ?>
    </div>
</section>
