<!--
/**
 * This file is part of Magestore POS Open Source.
 *
 * Magestore POS Open Source is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Magestore POS Open Source is distributed in the hope that it will
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with Magestore POS Open Source. If not, see <https://www.gnu.org/licenses/>
 */
-->
<div class="message_location_webpos">
    <p>
        <b><?= /* @noEscape */ __('* IMPORTANT:'); ?></b>
        <?= /* @noEscape */ __('This open version only supports 1 Default Stock.'); ?>
    </p>
    <p>
        <?= /* @noEscape */ __('If you want to use Multiple Stocks feature, upgrade to our Commerce plan.'); ?>
        <b>
            <a href="https://www.magestore.com/multi-stock/?utm_source=pos-open-backend&utm_medium=product&utm_campaign=upsell_commerce_2021&utm_content=manage-location">
                <?= /* @noEscape */ __(' Explore now!');?>
            </a>
        </b>
    </p>
</div>