<?php
/**
 * This file is part of Magestore POS Open Source.
 *
 * Magestore POS Open Source is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Magestore POS Open Source is distributed in the hope that it will
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with Magestore POS Open Source. If not, see <https://www.gnu.org/licenses/>
 */
/** @var LinkedPos $block */

use Magento\Framework\App\ObjectManager;
use Magento\Framework\UrlInterface;
use Magestore\Webpos\Block\Adminhtml\LinkedPos;

$url = ObjectManager::getInstance()->get(UrlInterface::class);
$currentUrl = $url->getCurrentUrl();
$action = 'edit';
$addPosUrl = $block->getUrl('webposadmin/pos/new', ['default_location' => $block->getLocationId()]);
?>
<div class="add-pos" style="float: right;
    margin-right: 15px;">
    <?php
    if (strlen(strstr($currentUrl, $action)) > 0) {
        ?>
        <button id="addpos" title="Add POS" type="button"
                class="action- scalable save primary"
                onclick="location.href = '<?= /** noEscape */ $addPosUrl ?>';"
                data-ui-id="save-button" style="height: 45px;">
            <span>Add POS</span>
        </button>
        <?php
    }
    ?>
</div>

<?= $block->getGridHtml() ?>

<!-- @todo remove when "UI components" will support such initialization -->
<script>
    require('mage/apply/main').apply();
</script>
