/**
 * This file is part of Magestore POS Open Source.
 *
 * Magestore POS Open Source is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Magestore POS Open Source is distributed in the hope that it will
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with Magestore POS Open Source. If not, see <https://www.gnu.org/licenses/>
 */
.wrapper-action-left .btn.btn-add-comment {
    background-image: url('../images/add-comment.svg');
    border-bottom: solid 1px #dfe1e4;
}

.popup-messages.popup-add-comment .modal-body {
    padding: 0;
}

.popup-messages.popup-add-comment .save {
    color: #4a90e2;
    right: 25px;
}

.popup-messages.popup-add-comment .save.disabled {
    color: #7c7d80;
    cursor: not-allowed;
}

.popup-messages.popup-add-comment .modal-header {
    background-color: #fff;
    padding: 21px 25px;
    border-radius: 10px 10px 0 0;
    line-height: 24px;
    color: #3f4245;
    text-align: center;
    position: relative;
    width: 100%
}

.popup-messages.popup-add-comment .save {
    padding: 0;
    opacity: 1;
    height: 24px;
    line-height: 24px;
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    top: 21px;
    z-index: 4;
    display: block;
}

.popup-messages.popup-add-comment .modal-body {
    background-color: #f8f8f8;
    border: none;
    padding: 0;
    max-height: calc(100% - 67px);
    max-height: -o-calc(100% - 67px);
    border-radius: 0 0 10px 10px;
}

.popup-messages.popup-add-comment .form-control {
    border-width: 0 0 0;
    border-style: solid;
    border-color: #dfe1e4;
    -webkit-box-shadow: none;
    box-shadow: none;
}