/**
 * This file is part of Magestore POS Open Source.
 *
 * Magestore POS Open Source is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Magestore POS Open Source is distributed in the hope that it will
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with Magestore POS Open Source. If not, see <https://www.gnu.org/licenses/>
 */
.minicart {
    max-height: calc(100% - 160px);
    max-height: -moz-calc(100% - 160px);
    max-height: -webkit-calc(100% - 160px);
    max-height: -o-calc(100% - 160px);
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.minicart span {
    outline: none;
}

.minicart .item {
    border-bottom: solid 1px #dfe1e4;
    background-color: #fff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.2px;
    position: relative;
}

.minicart .item-info {
    padding: 20px 32px 20px 0px;
    display: block;
    width: 100%;
    cursor: pointer;
    height:100%;
}

.minicart .on-payment-screen {
    padding-right:0px;
}

.minicart .item-info:before, .minicart .item-info:after {
    content: "";
    display: table;
}

.minicart .item-info:after{
    clear: both;
}


.minicart-mobile.minicart .item-info {
    padding-right: 0;
}

.minicart .item-image,
.minicart .item-detail,
.minicart .item-price {
    display: block;
    vertical-align: top;
    line-height: 23px;
    float: left;
    height:100%;
}
.minicart .item-price .original {
    color: #797979;
    font-size: 11px;
    text-decoration: line-through;
}

.minicart .item-image {
    white-space: nowrap;
    position: relative;
}

.minicart .item-image .image {
    display: block;
    width: 44px;
}

.minicart .item-image img {
    width: 100%;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.minicart .item-detail {
    color: #1d1d1d;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 110px);
    width: -moz-calc(100% - 110px);
    width: -webkit-calc(100% - 110px);
    width: -o-calc(100% - 110px);
}

.minicart .item-price {
    font-size: 13px;
    font-weight: 500;
    color: #3f4245;
    width: 65px;
    white-space: nowrap;
    text-align: right;
}

.minicart .item-name {
    display: block;
}

.minicart .item-option {
    font-size: 13px;
    color: #9b9b9b;
    display: block;
}

.minicart .item-option.bundle-item-option {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.minicart .qty {
    text-align: center;
    background-color: #1d63dc;
    min-width: 21px;
    line-height: 21px;
    height: 21px;
    display: block;
    border-radius: 100%;
    position: absolute;
    z-index: 5;
    top: -5px;
    right: -5px;
    color: #fff;
    font-size: 13px;
    padding: 0 4px;
    font-weight: 500;
}

.minicart .item-actions {
    width: 35px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.minicart-mobile.minicart .item-actions {
    position: relative;
    background-color: #d8d8d8;
    width: 60px;
    text-align: center;
    color: #fff;
}

.minicart .action-remove {
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    background-color: #dadada;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    top: 22px;
    right: 0;
    margin: 0px;
    border: 1px solid transparent;
    border-radius: 100%;
}

.minicart .action-remove:before {
    font-family: 'icomoon';
}

.minicart .action-remove:before {
    content: "\e904";
    color: #fff;
}

.minicart .action-remove span {
    display: none;
}

.minicart-mobile.minicart .action-remove {
    width: 22px;
    height: 22px;
    line-height: 20px;
    color: #1d63dc;
    border-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -11px;
    border-color: #1d63dc;
}

.minicart-mobile.minicart .action-remove:before {
    color: #1d63dc;
}

.minicart .scroll-content {
    padding: 0 20px;
}

.minicart.minicart-mobile .scroll-content {
    padding: 0;
}

.minicart.minicart-mobile .item {
    position: relative;
    border: none;
}

.minicart.minicart-mobile .item:before {
    content: "";
    border-bottom: solid 1px #dfe1e4;
    left: 20px;
    right: 20px;
    display: block;
    position: absolute;
    bottom: 0;
}

.minicart.minicart-mobile .item-info {
    padding-right: 20px;
    padding-left: 20px;
}

/** START CART HEADER */
.wrapper-header:before,
.wrapper-header:after {
    content: "";
    display: table;
}

.wrapper-header:after {
    clear: both;
}

.wrapper-header.cart-header {
    width: 380px;
    z-index: 10;
}

.header-left {
    float: left;
    width: 380px;
}

.header-left .header-customer {
    width: calc(100% - 55px);
    width: -moz-calc(100% - 55px);
    width: -webkit-calc(100% - 55px);
    width: -o-calc(100% - 55px);
    border-left: solid 1px #e0e0e0;
    text-align: center;
    float: right;
    line-height: 35px;
    padding: 23px 0 8px;
    position: relative;
}

.header-left .header-customer .title {
    font-weight: normal;
}

/** END CART HEADER */

.wrapper-content-customer .actions {
    padding: 15px 20px;
}

.wrapper-content-customer .actions:before,
.wrapper-content-customer .actions:after {
    content: "";
    display: table;
}

.wrapper-content-customer .actions:after {
    clear: both;
}

.wrapper-content-customer .btn {
    height: 50px;
    padding: 0 5px;
}

.wrapper-content-customer .btn-hold {
    width: 95px;
    float: left;
}

.wrapper-content-customer .btn-total {
    font-size: 19px;
    width: calc(100% - 105px);
    width: -moz-calc(100% - 105px);
    width: -webkit-calc(100% - 105px);
    width: -o-calc(100% - 105px);
    float: right;
}

/* RESPONSIVE */

@media (min-width: 1200px) {
    .wrapper-header.cart-header {
        width: 480px;
    }

    .header-left {
        width: 480px;
    }

    .header-right,
    .wrapper-content {
        float: right;
        width: calc(100% - 480px);
        width: -moz-calc(100% - 480px);
        width: -webkit-calc(100% - 480px);
        width: -o-calc(100% - 480px);
    }

    .wrapper-content-customer {
        width: 425px;
    }
}

@media (max-width: 767px) {
    .wrapper-header.cart-header {
        width: 250px;
    }
    .header-left {
        width: 250px;
    }

    .header-right,
    .wrapper-content {
        float: right;
        width: calc(100% - 250px);
        width: -moz-calc(100% - 250px);
        width: -webkit-calc(100% - 250px);
        width: -o-calc(100% - 250px);
    }

    .wrapper-content-customer {
        width: 196px;
    }
}

.cart-totals {
    padding: 8px 20px 8px;
    background-color: #fff;
    width: 100%;
}

.cart-totals .mark {
    padding: 0;
    background-color: transparent;
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.cart-totals .amount {
    display: table-cell;
    vertical-align: top;
    width: 1%;
    white-space: nowrap;
    text-align: right;
    padding-left: 15px;
}

.cart-totals li {
    display: table;
    width: 100%;
    line-height: 24px;
    border-top: solid 1px #dfe1e4;
    padding: 4px 0;
}

.cart-totals li:last-child {
    border-bottom: none;
}

.cart-totals .totals-action {
    color: #1d63dc;
    cursor: pointer;
}

.cart-totals .grand_total {
    font-weight: 500;
}

.cart-totals .add-discount {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    display: block;
    font-size: 20px;
    line-height: 24px;
}

.cart-totals .add-discount:before {
    font-family: 'icomoon';
}

.cart-totals .add-discount:before {
    content: "\e90d";
    color: #4a90e2;
}

.popup-add-discount {
    background-color: #fff;
    width: 420px;
    border-radius: 10px;
    padding-bottom: 6px;
}

.popup-add-discount .img-discount {
    margin: 24px 0 33px;
    height: 48px;
    background-image: url('../images/discount.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.popup-add-discount .img-discount img {
    display: none;
}

.popup-add-discount .discount-title {
    display: block;
    border-bottom: solid 1px #dfe1e4;
    text-align: center;
    line-height: 24px;
    padding: 18px 10px;
    font-size: 17px;
}

.popup-add-discount .discount-content {
    padding: 10px 30px 35px 30px;
    text-align: center;
}

.popup-add-discount .form-coupon {
    position: relative;
}

.popup-add-discount .form-control {
    height: 50px;
    border-radius: 10px;
    border: solid 1px #dfe1e4;
    padding: 3px 130px 3px 17px;
    font-size: 14px;
    color: #000;
    display: block;
    width: 100%;
    margin: 0;
    box-shadow: none;
    text-align: left;
}

.popup-add-discount .form-control::-moz-placeholder {
    color: #797979;
    opacity: 1;
}

.popup-add-discount .form-control:-ms-input-placeholder {
    color: #797979;
}

.popup-add-discount .form-control::-webkit-input-placeholder {
    color: #797979;
}

.popup-add-discount .form-control.active {
    background-color: #eff6ff;
    border: solid 1px #b9d6fa;
    color: #3f4245;
}

.popup-add-discount .label-coupon {
    height: 44px;
    line-height: 42px;
    border: dotted 1px #b9d6fa;
    background-color: #eff6ff;
    padding-right: 10px;
    width: 244px;
    top: 3px;
    position: relative;
    text-align: left;
    color: #3f4245;
}

.popup-add-discount .btn-coupon {
    display: block;
    width: 93px;
    height: 44px;
    border-radius: 8px;
    border: none;
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 15px;
}

.popup-add-discount .btn-coupon.disabled {
    background-color: #cececf;
    color: #3f4245;
}

.popup-add-discount .btn-remove {
    width: 20px;
    position: absolute;
    right: 111px;
    top: 3px;
    font-size: 10px;
    height: 44px;
    background-color: transparent;
    padding: 0;
    text-align: center;
    cursor: pointer;
    border: none;
    line-height: 44px;
    display: block;
}

.popup-add-discount .btn-remove:before {
    font-family: 'icomoon';
}

.popup-add-discount .btn-remove:before {
    content: "\e904";
    color: #fff;
}

.popup-add-discount .btn-remove span {
    display: none;
}

.popup-add-discount .btn-remove:before {
    background-color: #dadada;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.popup-add-discount .invalid-coupon {
    position: absolute;
    bottom: -26px;
    line-height: 20px;
    left: 18px;
    font-size: 14px;
    color: #d0021b;
}

.popover {
    border-radius: 10px;
    border: none;
    box-shadow: none;
    max-width: 100%;
    font-family: 'Avenir';
    font-size: 15px;
    background-color: transparent;
}

.popover.right {
    margin-left: 30px !important;
}

.popover.right > .arrow {
    border-right-color: transparent;
}

.popover.right > .arrow:after {
    left: 2px;
}

.popover.left > .arrow {
    border-left-color: transparent;
}

.popover.left > .arrow:after {
    right: 2px;
}

.popover .popover-content {
    padding: 0;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 10px;
}

.btn-toolbar {
    margin-left: 0;
}

/**
 * Swiper 4.2.2
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2018 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: April 1, 2018
 */
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
    float: left;
}

.swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.swiper-invisible-blank-slide {
    visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    -o-transition-property: transform, height;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */
.swiper-container-3d {
    -webkit-perspective: 1200px;
    perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto;
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-lock {
    display: none;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 300ms opacity;
    -o-transition: 300ms opacity;
    transition: 300ms opacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transform: scale(0.33);
    -ms-transform: scale(0.33);
    transform: scale(0.33);
    position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    -webkit-transform: scale(0.66);
    -ms-transform: scale(0.66);
    transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    -webkit-transform: scale(0.33);
    -ms-transform: scale(0.33);
    transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    -webkit-transform: scale(0.66);
    -ms-transform: scale(0.66);
    transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    -webkit-transform: scale(0.33);
    -ms-transform: scale(0.33);
    transform: scale(0.33);
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.2;
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}

.swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0px, -50%, 0);
    transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 6px 0;
    display: block;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    -webkit-transition: 200ms top, 200ms -webkit-transform;
    transition: 200ms top, 200ms -webkit-transform;
    -o-transition: 200ms transform, 200ms top;
    transition: 200ms transform, 200ms top;
    transition: 200ms transform, 200ms top, 200ms -webkit-transform;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transition: 200ms left, 200ms -webkit-transform;
    transition: 200ms left, 200ms -webkit-transform;
    -o-transition: 200ms transform, 200ms left;
    transition: 200ms transform, 200ms left;
    transition: 200ms transform, 200ms left, 200ms -webkit-transform;
}

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transition: 200ms right, 200ms -webkit-transform;
    transition: 200ms right, 200ms -webkit-transform;
    -o-transition: 200ms transform, 200ms right;
    transition: 200ms transform, 200ms right;
    transition: 200ms transform, 200ms right, 200ms -webkit-transform;
}

/* Progress */
.swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
}

.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #ffffff;
}

.swiper-pagination-progressbar.swiper-pagination-white {
    background: rgba(255, 255, 255, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
    background: #ffffff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000000;
}

.swiper-pagination-progressbar.swiper-pagination-black {
    background: rgba(0, 0, 0, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
    background: #000000;
}

.swiper-pagination-lock {
    display: none;
}

/* Scrollbar */
.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    left: 0;
    top: 0;
}

.swiper-scrollbar-cursor-drag {
    cursor: move;
}

.swiper-scrollbar-lock {
    display: none;
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.swiper-slide-zoomed {
    cursor: move;
}

/* Preloader */
.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* a11y */
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-container-cube {
    overflow: visible;
}

.swiper-container-cube .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%;
}

.swiper-container-cube .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
    pointer-events: auto;
    visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0;
}

.swiper-container-flip {
    overflow: visible;
}

.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
}

.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.swiper-container-coverflow .swiper-wrapper {
    /* Windows 8 IE 10 fix */
    -ms-perspective: 1200px;
}

.checking-promotion {
    width: 24px;
    height: 24px;
}

.loader-couponcode, .loader-cart {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #c0c0c0;
    opacity: 0.8;
    vertical-align: middle;
}

.loader-couponcode .loader-product, .loader-cart .loader-product{
    position: relative;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 1;
}

.loader-cart {
    background-color: #f1f1f1;
    display: none;
}


.popup-totals-tax {
    background-color: #fff;
    width: 350px;
    border-radius: 10px;
    padding-bottom: 6px;
}
.popup-totals-tax .img-tax {
    margin: 10px 0 20px;
    height: 48px;
    background-image: url('../images/tax.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.popup-totals-tax .img-tax img {
    display: none;
}
.popup-totals-tax .tax-title {
    display: block;
    border-bottom: solid 1px #dfe1e4;
    text-align: center;
    line-height: 24px;
    padding: 18px 10px;
}
.popup-totals-tax .tax-content {
    padding: 10px;
    text-align: center;
}
.popup-totals-tax .mark {
    padding: 0;
    background-color: transparent;
    display: table-cell;
    vertical-align: top;
    width: 100%;
    text-align: left;
}
.popup-totals-tax .amount {
    display: table-cell;
    vertical-align: top;
    width: 1%;
    white-space: nowrap;
    text-align: right;
    padding-left: 15px;
}
.popup-totals-tax .list-tax {
    display: inline-block;
    line-height: 24px;
    width: 230px;
}
.popup-totals-tax .list-tax li {
    padding: 7px 0;
}

.minicart .item-customesale .item-image .image {
    height: 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/customesale-icon-cart.svg');
}
.minicart .item-customesale .item-image .image img {
    display: none;
}

.set-custom-price-popup .btn-remove {
    width: 30px;
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
    font-size: 10px;
    text-align: center;
    display: block;
    border: none;
    background: none;
}
.set-custom-price-popup .btn-remove:before {
    font-family: 'icomoon';
}
.set-custom-price-popup .btn-remove:before {
    content: "\e904";
    color: #fff;
}
.set-custom-price-popup .btn-remove:before {
    background-color: #dadada;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.set-custom-price-popup  .btn-remove span {
    display: none;
}
.set-custom-price-popup  .custom-price-reason-wrapper{
    position: relative;
    margin-top: 4px;
}
.set-custom-price-popup  .panel-title{
    text-align: center;
    line-height: 24px;
    font-size: 17px;
    font-weight: normal;
    padding: 11px 10px;
}
.set-custom-price-popup  .panel-body{
    padding: 0px;
}
.set-custom-price-popup  .panel{
    border:none;
}
.set-custom-price-popup  .input-reason{
    text-align: center;
    border: none;
}
.set-custom-price-popup  .input-reason:focus{
    box-shadow: none;
}
.set-custom-price-popup  .custom-price-numpad-wrapper button{
    padding:6px;
}
.edit-item-qty-trigger{
    height: 100%;
}

.set-custom-price-popup .custom-price-numpad-wrapper button:nth-child(10),
.set-custom-price-popup .custom-price-numpad-wrapper button:nth-child(11),
.set-custom-price-popup .custom-price-numpad-wrapper button:nth-child(12) {
    border-bottom: 1px solid #dfe1e4;
}

.minicart .item-price.cannot-use-custom-price{
    cursor: not-allowed;
}

.popup-add-discount .discount-container .nav-pills{
    padding: 30px 30px 10px 30px;
    display: flex;
}
.popup-add-discount .discount-container .nav-pills li{
    flex-grow: 1;
    text-align: center;
}
.popup-add-discount .discount-container .nav-pills li a{
    border:solid 1px #dfe1e4;
    color:#ccc;
}
.popup-add-discount .discount-container .nav-pills li.active a{
    background-color: #1d63dc;
    color:#fff;
}

#discount-container-pane-fixed .discount-content textarea,
#discount-container-pane-percent .discount-content textarea{
    margin: 0px 0 20px;
    height: 85px;
    padding: 10px 17px;
}

#discount-container-pane-fixed .discount-content span.discount-amount,
#discount-container-pane-percent .discount-content span.discount-amount{
    line-height: 42px;
    background: #eee;
}

.minicart  .swiper-container {
    overflow: visible;
}

.minicart-mobile.minicart .item-actions{
    background-color: #dfe1e4;
}

.minicart-mobile.minicart .item-actions:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    border-top: 1px solid #D8D8DA;
    height: 1px;
}

.minicart-mobile.minicart .minicart-content {
    overflow-x: hidden;
}

.popover-key-pad p {
    text-align: center;
}