/**
 * This file is part of Magestore POS Open Source.
 *
 * Magestore POS Open Source is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Magestore POS Open Source is distributed in the hope that it will
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with Magestore POS Open Source. If not, see <https://www.gnu.org/licenses/>
 */
.wrapper-payment .payment-amount{
    margin-bottom: 0 !important;
}

.wrapper-payment .payment-amount-list{
    margin-top: 17px !important;
}

/*.wrapper-payment .payment-total{*/
    /*margin-bottom: 10px !important;*/
    /*margin-top: 25px !important;*/
/*}*/

.wrapper-payment .payment-amount .value {
    border: 0;
    outline: none;
    padding: 0;
}

.wrapper-payment .payment-reference .label {
    width: 100px !important;
}

.wrapper-payment .payment-reference .value {
    border: 0;
    outline: none;
    padding: 0;
    height: 100%;
    width: 100%;
    line-height: 20px !important;
    max-width: calc(100% -  100px) !important;
    max-width: -moz-calc(100% -  100px) !important;
    max-width: -webkit-calc(100% -  100px) !important;
    max-width: -o-calc(100% -  100px) !important;
}

.wrapper-numpad {
    display: block;
    max-width: 535px;
    width: 100%;
    outline: 0;
    margin: 0 auto;
}

.popup-calculator2 .product-field-qty .box-field-qty {
    padding: 0;
    text-align: right;
}

.popup-calculator2 .product-field-qty .form-control {
    font-size: 36px;
    color: #1d1d1d;
    text-align: right;
    font-weight: normal;
}

.wrapper-payment .actions-accept .btn {
    min-width: 145px;
    font-size: 19px;
    padding: 0 23px;
    margin: 0 6px;
}

