/**
 * This file is part of Magestore POS Open Source.
 *
 * Magestore POS Open Source is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Magestore POS Open Source is distributed in the hope that it will
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with Magestore POS Open Source. If not, see <https://www.gnu.org/licenses/>
 */
#root {
    height: 100%;
}
#root > div {
    height: 100%;
}
.wrapper-circular {
    position: absolute;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.CircularProgressbar .CircularProgressbar-trail {
    stroke-width: 2;
    stroke: #f2f2f2;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #4786ff;
    stroke-width: 5;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: #676767;
    font-size: 25px;
}