/**
 * This file is part of Magestore POS Open Source.
 *
 * Magestore POS Open Source is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Magestore POS Open Source is distributed in the hope that it will
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with Magestore POS Open Source. If not, see <https://www.gnu.org/licenses/>
 */
.wrapper-login {
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 0;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.wrapper-login .form-login {
    width: 400px;
    margin: 0 auto;
    padding: 20px 0;
}
.wrapper-login .logo {
    display: block;
    text-align: center;
    width: 400px;
    margin: 0 auto  60px;
}
.wrapper-login .page-title {
    font-size: 24px;
    margin: 0 0 60px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}


.wrapper-login .form-control {
    width: 100%;
    border-width: 0 0 1px;
    border-radius: 0;
    padding-left: 0;
    height: 43px;
    padding-right: 0;
}
.wrapper-login .form-control:focus {
    box-shadow: none;
    border-bottom: solid 1px #4786ff;
}
.wrapper-login select,
.wrapper-login select.form-control {
    padding-right: 20px;
    background-position: center right;
    background-size: 16px auto;
}
.wrapper-login .form-group {
    position: relative;
    margin-bottom: 34px;
}


.wrapper-login label {
    display: block;
}
.wrapper-login label span {
    display: none;
}
.wrapper-login .group-username label,
.wrapper-login .group-password label {
    width: 54px;
    height: 43px;
    position: absolute;
    top: 1px;
    left: 0;
    text-align: left;
    line-height: 35px;
}
.wrapper-login .group-username .form-control,
.wrapper-login .group-password .form-control {
    padding-left: 33px;
}
.wrapper-login .group-username label {
    font-size: 24px;
}
.wrapper-login .group-username label:before {
    font-family: 'icomoon';
}
.wrapper-login .group-username label:before {
    content: "\e912";
    color: #dfe1e4;
}
.wrapper-login .group-password label {
    font-size: 22px;
}
.wrapper-login .group-password label:before {
    font-family: 'icomoon';
}
.wrapper-login .group-password label:before {
    content: "\e909";
    color: #dfe1e4;
}
.wrapper-login .btn {
    display: block;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
    margin-top: 48px;
}
.wrapper-login .btn-link {
    text-transform: none;
    letter-spacing: normal;
    font-size: 15px;
    padding: 3px;
    width: auto;
    display: inline-block;
    margin-bottom: 0px;
    color: #3f4245;
}

.wrapper-login .logo img {
    height: 50px;
}

.popup-messages .modal-dialog .modal-footer button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    color: #007aff;;
}

.popup-messages .modal-dialog .modal-footer button:focus {
    outline: 0;
}

.wrapper-login .form-login input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

select option[disabled] { color: #ccc;}

.powered-by-title {
    color: #595b5d;
    margin-top: 60px;
    text-align: center;
}

.powered-by-title .magestore-link {
    color: inherit;
}