/**
 * This file is part of Magestore POS Open Source.
 *
 * Magestore POS Open Source is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Magestore POS Open Source is distributed in the hope that it will
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with Magestore POS Open Source. If not, see <https://www.gnu.org/licenses/>
 */
.wrapper-barcode {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
}
.wrapper-barcode .close-barcode {
    position: absolute;
    z-index: 10;
    width: 24px;
    height: 24px;
    top: 20px;
    right: 20px;
    display: block;
    cursor: pointer;
    text-align: center;
    line-height: 24px;
}
.wrapper-barcode .close-barcode:before {
    font-family: 'icomoon';
}
.wrapper-barcode .close-barcode:before {
    content: "\e904";
    color: #fff;
}
.wrapper-barcode .close-barcode:before {
    color: #979797;
    font-size: 24px;
}
.barcode-content {
    height: 100%;
    width: 100%;
}
.bg-barcode {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.bg-barcode:before,
.bg-barcode:after {
    content: '';
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
}
.bg-barcode:before {
    bottom: 50%;
    top: 0;
    margin-bottom: 150px;
}
.bg-barcode:after {
    bottom: 0;
    top: 50%;
    margin-top: 150px;
}
.scan-barcode {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -120px 0 0 -120px;
    display: block;
    z-index: 5;
}
.scan-barcode .arrow-top,
.scan-barcode .arrow-bottom {
    position: absolute;
    left: 0;
    width: 100%;
}
.scan-barcode .arrow-top:before,
.scan-barcode .arrow-bottom:before,
.scan-barcode .arrow-top:after,
.scan-barcode .arrow-bottom:after {
    content: '';
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: #fff;
    border-width: 6px;
    display: block;
}
.scan-barcode .arrow-top:before,
.scan-barcode .arrow-bottom:before {
    float: left;
}
.scan-barcode .arrow-top:after,
.scan-barcode .arrow-bottom:after {
    float: right;
}
.scan-barcode .arrow-top {
    top: 0;
}
.scan-barcode .arrow-top:before {
    border-width: 6px 0 0 6px ;
}
.scan-barcode .arrow-top:after {
    border-width: 6px 6px 0 0;
}
.scan-barcode .arrow-bottom {
    bottom: 0;
}
.scan-barcode .arrow-bottom:before {
    border-width: 0 0 6px 6px ;
}
.scan-barcode .arrow-bottom:after {
    border-width: 0px 6px 6px 0;
}

.barcode-content {
    width: 100%;
    height: 100%;
    background: black;
}

.scanner-ios {
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-320px, -240px);
}
.scanner-android {
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-400px, -300px);
}